# ignore external packages folder 
packages/

# ignore python venv
venv/
.venv/

# ignore Python cache files
__pycache__/
*.pyc

#ignore drone cache files
cache/

# ignore editor specific files
.vscode/

# ignore system files
.DS_Store
Thumbs.db

# ignore log files
*.log